@{
    ViewData["Title"] = "About";
}

<div class="container mt-4">

    <div class="alert alert-info">
        <strong>About Us!</strong> We provide IT solutions and training.
    </div>

    <h3>Our Features</h3>

    <ul class="list-group">
        <li class="list-group-item">Experienced Team</li>
        <li class="list-group-item">Modern Technology</li>
        <li class="list-group-item">Customer Support</li>
    </ul>

</div>